{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags ('showRecette') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags ('showRecette') }}		
{% endblock %}

{% block body %}



    {# Button pour afficher les saisons #}
<button id="showSaisonsBtn">SAISON</button>
<div id="saison" style="display:none;">  {# Ajout d'un style pour masquer par défaut #}
    {% for saison in saisons %}
        <a href="#" class="saison-link" data-valeur="{{ saison.value }}">{{ saison.value }}</a>
    {% endfor %}
</div>

{# Button pour afficher les types de plats #}
<button id="showPlatsBtn">TYPE DE PLAT</button>
<div id="typeDePlat" style="display:none;"> 
    {% for typeDePlat in typeDePlats %} 
        <a href="#" class="typeDePlat-link" data-valeur="{{ typeDePlat.value }}">{{ typeDePlat.value }}</a>
    {% endfor %}
</div>

    {# Button pour afficher les Origines #}
<button id="showOriginesBtn">ORIGINE</button>

<div id="origine" style="display:none;">
    {% for origine in origines %} 
        <a href="#" class="origine-link" data-valeur="{{ origine.value }}">{{ origine.value }}</a>
    {% endfor %}
</div>

   {# Button pour afficher les preparations #}
<button id="showPreparationsBtn">preparation</button>
<div id="preparation" style="display:none;">  {# Ajout d'un style pour masquer par défaut #}
    {% for preparation in preparations %}
        <a href="#" class="preparation-link" data-valeur="{{ preparation.value }}">{{ preparation.value }}</a>
    {% endfor %}
</div>





<div id="divResultats" >
    {% if recettes is empty %}
        <p>Aucune recette disponible pour le moment.</p>
    {% else %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for recette in recettes %}
                <div class="col-lg-3 col-md-6">
                <div class="recipe-card">
                    <div class="recipe-image">
                        <img src="./images/pic05.jpg" alt="{{ recette.titre }}">
                    </div>
                    <div class="recipe-info">
                        <div class="recipe-title">{{ recette.titre }}</div>
                        <div class="user-icon">
                            <img src="{{ recette.utilisateur.photo}}" alt="{{ recette.utilisateur.nom}}">
                        </div>
                        <div class="recipe-icons">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                    <path d="M8 3.5a.5.5 0 0 1 .5.5v4h3a.5.5 0 0 1 0 1H8a.5.5 0 0 1-.5-.5V4a.5.5 0 0 1 .5-.5z" />
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-1A7 7 0 1 1 8 1a7 7 0 0 1 0 14z" />
                                </svg>
                                <div class="icon-text">{{ recette.tempsDePreparation|date('H:i') }}</div>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                    <path d="M8.515 3.5a.5.5 0 0 1 .5.5v3.794l2.847 1.447a.5.5 0 0 1-.514.858l-3.1-1.576a.5.5 0 0 1-.238-.433V4a.5.5 0 0 1 .5-.5z" />
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-1A7 7 0 1 1 8 1a7 7 0 0 1 0 14z" />
                                </svg>
                                <div class="icon-text">
                                <div class="icon-text">{{ recette.tempsDeCuison|date('H:i') }}</div>
                                </div>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.216.85A2.785 2.785 0 0 1 3.5 8h9a2.785 2.785 0 0 1 .716.85A2.478 2.478 0 0 1 14 10.5v.577c0 .19-.112.36-.281.445L8.833 14H7.167l-4.886-2.478A.502.502 0 0 1 2 11.078V10.5c0-.89.37-1.682.784-2.15z" />
                                </svg>
                                <div class="icon-text"> {{ recette.nombrePortions}}</div>
                            </div>
                        </div>
                          <div class="stars">
                        {% set moyenneNote = moyennesNotes[recette.id] %}
                        {% set nombreNote = nombreNotes[recette.id] %}

                        {% if moyenneNote >= 4.5 %}
                            &#9733;&#9733;&#9733;&#9733;&#9733;
                        {% elseif moyenneNote >= 3.5 %}
                            &#9733;&#9733;&#9733;&#9733;&#9734;
                        {% elseif moyenneNote >= 2.5 %}
                            &#9733;&#9733;&#9733;&#9734;&#9734;
                        {% elseif moyenneNote >= 1.5 %}
                            &#9733;&#9733;&#9734;&#9734;&#9734;
                        {% elseif moyenneNote >= 0.5 %}
                            &#9733;&#9734;&#9734;&#9734;&#9734;
                        {% else %}
                            &#9734;&#9734;&#9734;&#9734;&#9734;
                        {% endif %}
                        ( {{ nombreNote }} avis)
                        </div>
                    </div>
                    
                        <a href="{{ path('app_recette_show', {'id': recette.id}) }}">Voir la recette</a>
                        {% if app.user %}
                        
                 <a href="{{ path ('app_utilisateur_favoris', {'id': recette.utilisateur.id})}}" >❤️</a>

                        {% endif %}
                    
                </div>

            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
</div>


    
  

 

{% endblock %}
