{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}

    <h1>Recette index</h1>

    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>DatePublication</th>
                <th>TempsDePreparation</th>
                <th>TempsDeCuison</th>
                <th>Difficulte</th>
                <th>Image</th>
                <th>NombrePortions</th>
                <th>Saison</th>
                <th>Origine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
            <img src="{{ recette.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ recette.titre }}</h5>
              <p class="card-text">{{ recette.description }}</p>
              <a href="{{ path('app_recette_show', {'id': recette.id}) }}" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
        </div>

        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_recette_new') }}">Create new</a>
    {# block de script propre, js et css #}
    {% block customJS %}
        {{ encore_entry_script_tags ('autre') }}
    {% endblock %}

    {% block customCSS %}
        {{ encore_entry_link_tags ('autre') }}		
    {% endblock %}

{% endblock %}
