{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src={{ utilisateur.photo }} class="card-img-top" alt="Photo de profil">
                <div class="card-body">
                    <h5 class="card-title">{{ utilisateur.nom }}</h5>
                    <p class="card-text">{{ utilisateur.email }}</p>
                    <a href="{{ path ('app_utilisateur_edit', { id: utilisateur.id }) }}"  class="btn btn-primary">Modifier la photo</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            
            <h2 class="mt-5">Activité récente</h2>
            <ul class="list-group">
                {% for recette in utilisateur.recettes %}
                    <li class="list-group-item">{{ recette.titre }} </li>
                {% else %}
                    <li class="list-group-item">Aucune activité récente.</li>
                {% endfor %}
            </ul>

            <h2 class="mt-5">mes favoris</h2>
            <ul class="list-group">
            {% for recette in utilisateur.FavorisRecette %}
            <li class="list-group-item">{{ recette.title }}</li>
            <li class="list-group-item">{{ recette.description }}</li>
            {% else %}
            <li class="list-group-item">Aucun favoris.</li>
            {% endfor %}


        </div>
    </div>
</div>
{% endblock %}