{# templates/gestion_recettes/afficherRecettes.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Recettes{% endblock %}

{% block body %}
    <h1>Liste des Recettes</h1>

    {# <div class="recettes-container">
        {% if recettes is empty %}
            <p>Aucune recette disponible pour le moment.</p>
        {% else %}
            <ul>
                {% for recette in recettes %}
                    <li class="recette-item">
                        <h2>{{ recette.titre }}</h2>
                        <h3>{{ recette.utilisateur }}</h3>
                        <p><strong>Description :</strong> {{ recette.description }}</p>
    
                        <p><strong>Date de publication :</strong> {{ recette.datePublication|date('d-m-Y') }}</p>
                        <p><strong>Temps de préparation :</strong> {{ recette.tempsDePreparation |date('H:i:s')}} minutes</p>
                        <p><strong>Temps de cuisson :</strong> {{ recette.tempsDeCuison|date('H:i:s') }} minutes</p>
                        <p><strong>Difficulté :</strong> {{ recette.difficulte }}/5</p>
                        <img src="{{ recette.image }}" alt="Image de la recette" class="recette-image">
                        <p> commentaire : {{recette.recettesNote}} </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div> #}
{% endblock %}

