{% extends 'base.html.twig' %}

{% block title %}AjouterRecette{% endblock %}

{% block body %}

  <h1>Recette</h1>

    

    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        {{ form_row(form.datePublication) }}
        {{ form_row(form.tempsDeCuison) }}
        {{ form_row(form.tempsDePreparation)}}
        {{ form_row(form.difficulte) }}
        {{ form_row(form.nombrePortions) }}
        {{ form_row(form.saison) }}
        {{ form_row(form.origine) }}
        {{ form_row(form.image) }}




        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn">enregistrer</button>
    {{ form_end(form) }}

{% endblock %}