{# navigation, pour toutes les pages  #}
<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
	<a href="{{ path('accueil') }}">Acceuil</a>
	<a href="{{ path('app_recette_index')}}">les recettes</a>

	{# liens pour l'admin  #}
	{% if is_granted ('ROLE_ADMIN') %}
		<a href="">Option 3 admin</a>
		<a href="">Option 4 admin</a>
	{% endif %}

	{# liens pour les users connectés,
				peu importe le role #}
	{% if is_granted ('ROLE_USER') %}
		<a href="{{ path('app_recette_new')}}">ajouterRecette</a>
		
		
		{# <a href="{{ path('modifier')}}">AfficherRecettes</a> #}
		
	{% endif %}

	{% if app.user %}
		Connecté:
		{{ app.user.prenom}}
		{# et toutes les options dispo
		                uniquement avec connexion #}
		<a href="{{ path ('app_logout') }}">Logout</a>
	{% else %}
		<a href="{{ path ('app_login') }}">Login</a>
	{% endif %}
	
	 
		</div>
	  



		
</nav>

	
