   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <div class="logo">
                    <span>Logo </span>
                </div>
            </a>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_recette_index')}}">recettes</a>
                    </li>
                   
                    
                </ul>
                <!-- Search and Profile -->
                {# <form class="d-flex" action="">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">  
                    <button type="submit">Rechercher</button>
                </form> #}
                
            </div>
        </div>
  
  {# {% if is_granted ('ROLE_ADMIN') %} #}
		{# <a href="">Option 3 admin</a>
		<a href="">Option 4 admin</a> #}
	{# {% endif %}
    {% if is_granted ('ROLE_USER') %}
		<a href="{{ path('app_recette_new')}}">ajouterRecette</a>

		
	{% endif %} #}

     {% if app.user %}

     <a href="{{ path('app_recette_new')}}">ajouterRecette</a>

      <div class="profile-icon dropdown">
    <img src="https://via.placeholder.com/40" alt="Profile" class="rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="{{ path ('app_utilisateur_profil', { id: app.user.id }) }}">Mon profil</a></li>
        <li><a class="dropdown-item" href="{{ path ('app_utilisateur_recettes', { id: app.user.id }) }}">Mes recettes</a></li>
        <li><a class="dropdown-item" href="{{ path ('app_utilisateur_favoris', { id: app.user.id }) }}">Mes favoris</a></li>
        <li><hr class="dropdown-divider"></li>
        
        <li><a class="dropdown-item" href="{{ path ('app_logout')}}">Déconnexion</a></li>
    </ul>

		 {# Connecté:
		{{ app.user.nom}}
		et toutes les options dispo
		                uniquement avec connexion #}
		{# {<a href="{{ path ('app_logout') }}">Logout</a>
	{% else %}
		<a href="{{ path ('app_login') }}">Login</a> #}
	{% endif %} 

</nav>
