<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  {% if is_granted ('ROLE_ADMIN') %}
		{# <a href="">Option 3 admin</a>
		<a href="">Option 4 admin</a> #}
	{% endif %}
    {% if is_granted ('ROLE_USER') %}
		<a href="{{ path('ajouter')}}">ajouterRecette</a>
		<a href="{{ path('afficher')}}">AfficherRecettes</a>
		
		{# <a href="{{ path('modifier')}}">AfficherRecettes</a> #}
		
	{% endif %}

    {% if app.user %}
		Connecté:
		{{ app.user.nom}}
		{# et toutes les options dispo
		                uniquement avec connexion #}
		<a href="{{ path ('app_logout') }}">Logout</a>
	{% else %}
		<a href="{{ path ('app_login') }}">Login</a>
	{% endif %}

</nav>